# The Basics
dist: trusty
language: java
jdk:
- oraclejdk8

script:
  - ./gradlew build
  - ./gradlew codeCoverageReport
after_success:
  - '[[ "$TRAVIS_PULL_REQUEST" = "false" && "$TRAVIS_BRANCH" = "develop" ]] && ./gradlew uploadArchives'
  - bash <(curl -s https://codecov.io/bash)

# Ugh.
notifications:
  email: false
